<div fxLayout="row">
  <div fxFlex="20" fxFlex.lt-md="1"></div>
  <div fxFlex="60" fxFlex.lt-md="98">
    <h2>Sign in</h2>
    <form fxLayout="column" [formGroup]="loginData" (ngSubmit)="onLogin()">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="email">
        @if (loginData.controls['email'].invalid) {
          <mat-hint>Please type a valid email</mat-hint>
        }
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" formControlName="password" matInput>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>

    <button [disabled]="!loginData.valid" type="submit" mat-raised-button color="primary">Login</button>
    </form>

  </div>
  <div fxFlex="20" fxFlex.lt-md="1"></div>
</div>
